

h2{
	text-align: center;
	color: rgb(69, 41, 5);
	font-size: 50px;
}
#row{
	width: 1020px;
	margin: auto;
}
.items{
	padding: 20px;
	float: left;
	width: 300px;
}
img{
	height: 500px;
	width: 500px;
}