<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="staticFiles/index.css">
    <link rel="stylesheet" type="text/css" href="staticFiles/joint.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.js"></script>
    <script src="staticFiles/index.js"></script>
  
  </head>
  <center>
  <body>
  <header>
    <nav>
      <li><a class="active" href="/">Home</a></li>
      <li><a href="vision">Vision</a></li>
      <li><a href="blogs">Blogs</a></li>
      {% block nav %}
{% if userID != 0 %}
<li><a href="signout">SignOut</a></li>
{% else %}
<li><a href="signInUp">SignIn/Up</a></li>
{% endif %}
{% endblock %}

           
  
    </nav>
  </header>
  <div class="container pt-4">
    {% block body %}{% endblock %}
  </div>
</body>
</html>
