
	
{% extends '_layout.html' %}

{% block title %}Home Page{% endblock %}





{% block body %}

	<h1>Welcome to GET IT Forum</h1>
	<p>Great for Sharing your Knowledge</p>
	<ul id="slider">
		<li><img src="staticFiles/uncc.jpg" alt="" title="Entrance"></li>
		<li><img src="staticFiles/techworld.jpg" alt="" title="Office"></li>
		<li><img src="staticFiles/blogs.jpg" alt="" title="Housing"></li>

	</ul>
	<p id="id_pager"></p>

	<div id="blog-posts">
		
		{% for post in posts %}
		<article>
			<h2>{{ post[1] }}</h2>
			<h3>PosterID: {{ post[4] }}</h3>
			<p>{{ post[2] }}</p>
			<p>Timestamp: {{ post[3] }}</p>
		</article>
		{% endfor %}
		
	</div>
	<a href="\blogs">Create a new post</a>

	</main>
	</body>
</center>
{% endblock %}




