{% extends '_layout.html' %}

{% block title %}SignUp/Login{% endblock %}
{% block body %}
<center>
<main>

	<h2>Sign UP</h2>
	<form action="/signUP" method="POST">
		<label for="userName">UserName: </label>
		<input type="textbox" name="userName"><br><br>
		
		
		<label for="Password">Password </label>
		<input type="textbox" name="Password"><br><br>
		
		<input type="submit" value="Sign Up">
	</form>
	
	<h3>OR</h3>
	<h4>Login </h4>
	<form method="POST">
	<label for="username">UserName: </label>
	<input type="textbox" name="username"><br><br>
	
	
	<label for="password">Password </label>
	<input type="textbox" name="password"><br><br>
	
	<input type="submit" value="Sign Up">
	</form>
</center>
</main>

{% endblock %}