{% extends '_layout.html' %}

{% block title %}SignUp/Login{% endblock %}
{% block body %}
<center>
<main>

	<h2>Sign UP</h2>
	<form >
		<label for="first">First name: </label>
		<input type="textbox" name="first"><br><br>
		<label for="last">Last name: </label>
		<input type="textbox" name="last"><br><br>
		
		
		<label for="password">Password </label>
		<input type="textbox" name="password"><br><br>
		
		<button>Submit</button>
	</form>

	<h3>OR</h3>
	<h4>Login </h4>
	<p>UserName: <input type="text" id="username"></p>
	<p>Password: <input type="text" id="Password"></p>
	<button>Submit</button>

</center>
</main>

{% endblock %}