
{% extends '_layout.html' %}

{% block title %}About Us{% endblock %}
{% block body %}
	
<center>
<main>
	<p>
		Welcome to Get It</p>
	<div class="text">
		<p>Get It is for young Bloger users Who wants a new way to interact with the tech talking community. 
			Get It is a bloging forum That educate users by sharing your uncensored tech thoughts Unlike other blogging blogs where you can only share censored thoughts. 
			Our Product will change the way blogging is used by adding features that would more fun and engaging for Get It users.</p>
	</div>
	<div class="text">
		<p>feel free to share anything TEch </p>
	</div>

	<div>
		<h2>GET IT </h2>
		<h3>examples: </h3>
		<h4>TECH WORLD </h4>

		<div id="row">
			<div class="items">
				<img src="staticFiles/uncc2.jpg">
				<h4>post</h4>
				<button>POST</button>
			</div>
			<div class="items">
				<img src="staticFiles/blog.jpg">
				<h4>comment</h4>
				<button>COMMENT</button>
			</div>
			<div class="items">
				<img src="staticFiles/techperson.jpg">
				<h4>THINK</h4>
				
			</div>
		</div>
	</div>
</center>
</main>


</body>
{%  endblock %}